<div class="bg-blue-500 p-5">
  <h1>Welcome to Contact</h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam quod
    perspiciatis voluptatum ea eveniet vero, obcaecati libero ullam distinctio,
    dignissimos iure minima dicta. Tempore maxime itaque nobis sit expedita
    omnis.
  </p>
  <h1 class="border-t-4 border-black pt-4">You can communicate with us from here</h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam quod
    perspiciatis voluptatum ea eveniet vero, obcaecati libero ullam distinctio,
    dignissimos iure minima dicta. Tempore maxime itaque nobis sit expedita
    omnis.
  </p>
</div>
